@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* global setting for body contents */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.header_container {
  background-color: white;
  max-width: 375px;
  height: 718px;
  margin: auto;
}

/* set position */
header {
  position: sticky;
  top: 0;
}

.static_bar {
  display: flex;
  justify-content: space-between;
}

/* style time */
.mobile_icon p {
  margin: 16px 0 0 21px;
  font-weight: lighter;
}

header svg {
  margin: 30px 36px 0 0;
}

.headline {
  background-image: url("images/Header_bg.svg");
  position: absolute;
  top: 16%;
}

/* Position summary about me section */
.intro {
  margin: 150px 24px 0;
}

/* Styling for welcome part */
.intro h1 {
  font-size: 40px;
  font-weight: 700;
  color: #091e42;
  margin-bottom: 12px;
  line-height: 52px;
}

/* Styling for introduction section */
.intro p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  font-style: normal;
  color: #344563;
  width: 327px;
  height: 146px;
}

body {
  background-color: #e5e5e5;
  width: 100%;
  position: relative;
  height: 100%;
}

/* Set the  size for the home page */
main {
  height: 718px;
  max-width: 375px;
  background-color: white;
  border-radius: 0 0 0 13%;
  margin: auto;
}

.mobile_icon {
  display: flex;
  justify-content: space-between;
}

.mobile_icon time {
  margin: 16px 0 0 21px;
  font-weight: lighter;
}

.mobile_icon img {
  margin: 20px 20px 0 0;
}

header .static_bar {
  display: flex;
  justify-content: space-between;
}

/* styling for logo name  */
header .name {
  color: #6070ff;
  font-size: 18px;
  font-weight: bolder;
  margin: 30px 0 0 24px;
}

header .menu {
  margin: 30px 36px 0 0;
}

/* Set position of social medials section */
.social_media {
  color: #7f8cff;
  font-size: 15px;
  line-height: 40px;
  margin: 20px 24px 0;
}

/* Style the social medials icon */
.social_media div {
  display: flex;
  gap: 20px;
}
