@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* global setting for body contents */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f5f5;
}

/* Design and set the main page to center */
main {
  background-color: white;
  max-width: 375px;
  height: 718px;
  margin: auto;
}

/* set position */
header {
  position: sticky;
  top: 0;
}

/* position mobile icons */
.mobile-icons {
  display: flex;
  justify-content: space-between;
}

/* style mobile icons */
.mobile-icons p,
.time {
  margin: 16px 0 0 21px;
  font-weight: lighter;
}

/* position navigation container */
nav {
  display: flex;
  justify-content: space-between;
}

/* styling for logo name  */
nav .logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: bolder;
  margin: 30px 0 0 24px;
}

nav .menu-button {
  margin: 30px 36px 0 0;
}

.headline {
  background-image: url("images/Header_bg.svg");
  position: absolute;
  top: 16%;
}

/* Position summary about me section */
.intro {
  margin: 150px 24px 0;
}

/* Styling for welcome part */
.intro h1 {
  font-size: 40px;
  font-weight: 700;
  color: #091e42;
  margin-bottom: 12px;
  line-height: 52px;
}

/* Styling for introduction section */
.intro p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  font-style: normal;
  color: #344563;
  width: 327px;
  height: 146px;
}

/* Set position of social medial icons */
.social-medials {
  color: #7f8cff;
  font-size: 15px;
  margin-left: 24px;
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
