@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.card {
  width: 311px;
  max-height: 100%;
  display: none;
  padding: 12px 16px 16px 16px;
  background-color: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  z-index: 10;
  position: fixed;
  top: 20px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  transition: 200ms ease-in-out;
  overflow: auto;
}

.active {
  display: block;
}

#backdrop {
  position: fixed;
  top: 0;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 1;
}

#backdrop.show {
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
}

.card-title {
  font-size: 15px;
  color: #172b4d;
  font-weight: 700;
  width: 110px;
}

.card-image {
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.close-button {
  cursor: pointer;
  background-color: white;
}

.close-button:hover {
  background-color: rgba(128, 128, 128, 0.154);
}

.barge-list {
  display: flex;
  gap: 15px;
  margin: 12px 0;
}

.barge-list li {
  height: 16px;
  color: #7a869a;
  font-size: 13px;
  line-height: 16px;
}

.barge-list li:first-child {
  font-weight: 600;
  color: #344563;
}

.card-description {
  font-weight: 400;
  font-size: 15px;
  height: 220px;
  line-height: 24px;
  color: #344563;
  overflow: hidden;
}

.tech {
  display: flex;
  align-items: center;
  width: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 18px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  background: transparent;
  gap: 10px;
}

.modal-button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: white;
}

.modal-button:active {
  background: #2230d2;
}

@media screen and (min-width: 768px) {
  .card {
    width: 1156px;
    height: 100%;
  }

  .barge-list li {
    height: 16px;
    color: #7a869a;
    font-size: 13px;
    line-height: 16px;
  }

  .barge-list li:first-child {
    font-weight: 600;
    color: #344563;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .tech {
    overflow: visible;
    flex-wrap: wrap;
    width: 240px;
  }

  .card-image {
    width: 100%;
    height: 586px;
    margin: 0 auto;
  }

  .card-description {
    font-weight: 400;
    width: 778px;
    height: 382px;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
  }

  .buttons {
    gap: 20px;
  }
}
