@media screen and (min-width: 768px) {
	* {
		margin: 0;
		padding: 0;
	}

	body {
		max-width: 100%;
	}
	
	.nav-menu {
		display: flex;
		flex-direction: row;
		gap: 30px;
	}

	.nav-menu li {
		top: 0;
		margin: 0;
	}

	.nav-link {
		color: #6070ff;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
	}

	.hamburger {
		display: none;
	}

	.headline {
		background-image: url('../assets/images/destop-version-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		height: 916px;
		position: relative;
	}

	.summary {
		gap: 0;
		margin: 180px auto;
	}

	.intro p {
		max-width: 920px;
		height: 98px;
		font-size: 20px;
		text-align: justify;
	}

	.intro h1 {
		font-size: 48px;
	}

	.work-section {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		padding: 0 3rem;
	}

	.projects {
		width: 100%;
		color: white;
		display: flex;
		flex-direction: row;
	}

	.project-image,
	.projects-describe {
		height: 448px;
		max-width: 50%;
		margin: 24px 24px;
	}

	.about {
		width: 100%;
		padding:0 50px 50px 50px;
		display: flex;
		gap:20px;
		flex-direction: row;
		align-items: start;
		justify-content: space-between;
	}

	.about h2 {
		font-size: 40px;
		font-weight: 700;
		color: #091e42;
		margin-bottom: 12px;
		line-height: 52px;
	}

	.about  div p {
		font-size: 20px;
		width: 80%;
		text-align: justify;
	}
	.skills, .TOP{
		width: 60%;
	}
	.contact {
		background-image: url('../assets/images/contact-destop-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 80px 0 0 0;
		margin: 0 auto;
		border: 1px solid #6070ff;
	}

	.contact>div {
		width: 569px;
		height: 102px;
	}

	form .userinput,
	textarea {
		width: 447px;
	}
}