@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Cookie&family=Lato:ital,wght@1,300&family=Monomaniac+One&family=Public+Sans:wght@400;700&family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #6070FF;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #04118a;
}

/* global setting for body contents */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  max-width: 768px;
  background: whitesmoke;
  height: 100%;
}

h1, h2, p, a, li , h3,input, ::placeholder{
  font-family: 'Heebo', sans-serif;
}

header{
  background-color: white;
  border:white;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1000;
}
.navbar {
  max-width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.nav-logo {
  color: #6070ff;
  font-size: 30px;
  font-family: 'Cookie',
  'Roboto',
  sans-serif;
  font-weight: bolder;
}

.nav-menu {
  display: none;
}

.nav-menu li {
  position: relative;
  top: 20px;
  margin: 36px 24px;
}

.nav-link {
  font-style: lighter;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  color: white;
}

.nav-link:hover {
  color: #030e75;
  transition: all 0.5s ease-in-out;
}

.show-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6070ff;
  width: 479px;
  opacity: 0.8;
  z-index: 1;
  height: 5500px;
}

.hamburger {
  cursor: pointer;
  display: block;
  z-index: 1;
}

.bar {
  display: block;
  width: 23px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
  z-index: 1;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.headline {
  background: url('../assets/images/shape2.svg');
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.572);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0 80px;
  height: 640px;
}

/* Position summary about me section */

.summary{
  display:flex;
  flex-direction: column;
  gap:80px;
}
.intro {
  margin: 100px 24px 0;
}

/* Styling for welcome part */
.intro h1 {
  font-size: 40px;
  font-weight: 700;
  color: #091e42;
  margin-bottom: 12px;
  line-height: 52px;
}

/* Styling for introduction section */
.intro p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400px;
  font-style: normal;
  color: #344563;
  width: 90%;
  height: 146px;
  text-align: justify;
}

/* Set position of social medial icons */
.headline .summary .contact-me {
  background-color: #384af0;
  color:white;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius:7px;
}

.headline .summary .contact-me:hover{
  background-color: #051497;
}
.headline .summary .contact-me:active{
  background-color: #030e75;
}
.headline .summary .social-icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 5%;
  top: 30%;
  gap: 13px;
  z-index: 10000;
}
.headline .summary .social-icon a{
  color:#344563;
  font-size: 20px;
}
.headline .summary .scroll-down{
  color:#344563;
  border:none;
  display: block;
  background-color: transparent;
  margin: 80px 0;
  font-size: 12px;
  cursor: pointer;
}
.center{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:start;
  gap:40px;
}
.work-section {
  margin: 40px 0;
  padding:20px;
}

/* style work section part */
.projects {
  display: flex;
  flex-direction: column;
  background-color: white;
  height:100%;
  padding: 12px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.no-animate{
  opacity: 0;
  transition: opacity 0.6s;
}
.no-animate.animated {
  opacity: 1;
}
/* positon and size projects snapshoot */
.project-image {
  height: 300px;
  width: 100%;
}

/* position projects description */
.projects-describe {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  gap:22px;
}

/* style project description */
.project-title {
  font-size: 24px;
  color: #172b4d;
  line-height: 29px;
  font-weight: 700px;
  margin-top:10px;
}

.projects-describe .stack{
  color:#344563;
}
/* style projects description */
.description {
  line-height: 24px;
  font-weight: 400px;
  font-size: 15px;
  width: 90%;
  color: #344563;
}

/* postion technologies used */
.tools {
  display: flex;
  gap: 12px;
}

/* style technologies used */
.tools li {
  font-size: 1.3vw;
  background: #ebebff;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 1vw;
  font-weight: 500px;
  color: #6070ff;
}

/* style all the clickable buttons */
.button {
  padding: 0px 20px;
  width: 220px;
  font-weight: 500px;
  font-size: 17px;
  line-height: 48px;
  color: #396df2;
  text-align: center;
  border: 1px solid #396df2;
  border-radius: 8px;
  cursor:pointer;
  background-color: transparent;
}

.btn {
  margin-left: 24px;
}

.get-resume {
  padding:14px 20px;
}
.button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: white;
}

.button:active {
  background: #2230d2;
  border-radius: 8px;
}

/* resize project 3 and 4 size */
.project2,
.project4 {
  height: 630px;
}

/* postion about me section */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 2rem;
  background: white;
  border: 1px solid white;
  border-radius: 0 80px 0 0;
  margin-bottom:40px;
  width:100%;
}

.TOP {
  width: 100%;
}

.about p {
  font-size: 20px;
  width: 100%;
  text-align: justify;
}
.skills, .TOP {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 820px;
  background-color: #6070ff;
  background-image: url("../assets/images/contact-destop-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact div {
  position: relative;
  top: 50px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 28px;
  color: #ebebff;
  max-width: 327px;
  max-height: 102px;
  text-align: center;
}

.contact h2 {
  color: white;
  font-size: 35px;
  margin-bottom: 25px;
}

.contact>form {
  position: relative;
  top: 150px;
}

form ul input,
textarea {
  background-color: #fff;
  margin: 10px 24px;
  padding: 10px;
  outline: none;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48;
  width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.contact .userinput:focus {
  border: 1px solid #2230d2;
}

.contact textarea {
  height: 170px;
}

.contact .btn {
  width: 150px;
  color: #6070ff;
}

.contact .btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: white;
}

.contact .btn:active {
  background: #2230d2;
}

.error {
  color: rgb(220, 53, 69);
  margin-top: -10px;
  background-color: #6070ff;
  font-size: 15px;
}


/* transition the navbar element size */
.nav-logo {
  animation-name: rotate-logo;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.nav-logo:hover{
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}

@keyframes rotate-logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}